[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
grpcio_tools = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"

[requires]
python_version = "3.11"
